*{
    padding: 0px;
    margin: 0px;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: #E8AA42;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #025464;
}

main {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #468B97;
    text-decoration: underline #468B97 9% 51 4px;
    text-underline-offset: 8px;
}

h1 {
    text-align: center;
    color: #025464;
    text-decoration: underline #025464 9% 51 4px;
    text-underline-offset: 8px;
}

img {
    width: 100%;
    height: auto;
}

#se-connecter input {
    background-color: #E8AA42;
    color: #025464;
    border: 2px solid #025464;
}

table {
    border: 15px solid #025464;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
    background-color: #025464;
}

#pied1 {
    background-color: #468B97;
}

#questionpied1 {
    color: white;
    font-size: 40px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

#avisetoile {
    width: 50px;
    height: 50px;
}

#avisetoile:hover{
background-image:url(etoile2.png);
}

#avis {
    display: flex;
    justify-content: space-evenly;
}

#avis span {
    border: solid #025464 8px;
    background-color: white;
    width: 280px;
    height: 230px;
    margin-top: 20px;
    margin-bottom: 20x;
    border-radius: 22%;
}

#pied2 {
    background-color: #025464;
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: x-large;
    font-size: large;
}

#boutonnewsletter {
    display: flex;
}
#newsletter {
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;

}

#newsletter span {
    border: solid #ffffff 8px;
    background-color: white;
    width: 900px;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 17px;
}

#abonnez {
    display: inline-block;
    border: #ffffff;
    background-color: white;
}



  #abonnez span:hover {
    background-color: #025464;
    color: white
  }

#boutonnewsletter span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #025464 8px;
    background-color: white;
    width: 750px;
    height: 50px;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 7px;
    margin-bottom: 3px;
    border-radius: 17px;
    color: #025464;
    font-size: 35px;
}

#enveloppe {
    margin-top: 7px;
    margin-left: 15px;
    margin-right: -5px;
    width: 80px;
    height: 70px;
}

h4 {
    text-align: center;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

#reseauxsociaux {
    border: solid white;
    color: #025464;
    width: 270px;
    height: 70px;
    border-radius: 10px;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#facebook {
    width: 50px;
    height: 50px;
}

#pied3 {
    display: flex;
    justify-content: space-evenly
}

#Marianne {
    width: 400px;
    display: flex;
}


/* debut pop up */
.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    margin: 50px auto;
    border: 1px solid #999;
    width: 60%;
  }
  h2,
  p {
    margin: 0 0 20px;
    font-weight: 400;
    color: #999;
  }
  span {
    color: #666;
    display: block;
    padding: 0 0 5px;
  }
  form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: #F3EDEB;
  }
  input,
  textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #1c87c9;
    outline: none;
  }
  .contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    /* display: flex;
    align-items: center; */
  }
  button:hover {
    background: #2371a0;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  button.button {
    background: none;
    border-top: none;
    outline: none;
    border-right: none;
    border-left: none;
    border-bottom: #02274a 1px solid;
    padding: 0 0 3px 0;
    font-size: 16px;
    cursor: pointer;
  }
  button.button:hover {
    border-bottom: #a99567 1px solid;
    color: #a99567;
  }

.contact-form form{
    display: flex;
    align-items: center;
}
yes{
    display: flex;
    align-items: center;
}
/* fin pop up */

#boutonfaq{
  color:#FFF;
}