/* DEBUT POP-UP */
*{
    padding: 0px;
    margin: 0px;
}


.fond {
    z-index: 0;
width: 1300px;
    height: 550px;
    background-color: #468B97;
    position: relative;
    bottom: 300px;
     border: solid #E8AA42 10px;
     border-radius: 50px;
}
#Poulpe-puree {
    z-index: 1;
    height: 400px ;
    width: 400px;
    position: relative;
    left: 50px;
    top: 200px;
   border-radius: 10%;
   border: #ffcb14 solid 10px;

}

#Description {
   
    position: relative;
    width: 400px;
    height: 200px;
    left: 700px;
    top: 120px;
    color: white;
    font-size: 30px;

}

#titre{
    position: relative;
    bottom: 210px;
    left: 700px;
    font-size: 50px;
}

