*{
    margin: 0;
    padding: 0;
}

#popup-overlay{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 98;
    /* une version de placement 
     display: flex;
    align-items: center;
    justify-content: center; */
    display: none;
}

.popup-content{
    max-width: 600px;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    background: #d01818;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-content p{
    margin: 20px 0;
}

.poput-Link {
    text-decoration: none;
    color:#ee2929;
    background: #0502;
    padding: 10px 20px;
    border-radius: 5px;
    display:inline-block;

}

.popup-exit{
position: absolute;
top:-10px;
right:-10px;
text-decoration: none;
color: rgb(99, 27, 27);
padding: 5px 10px;
border-radius:5px;

}

#popup-overlay.open{
    display:block !important;
}