/* debut popup */
*{
    margin: 0;
    padding: 0;
}

#popup-overlay{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
    /* une version de placement 
     display: flex;
    align-items: center;
    justify-content: center; */
    display: none;
}

.popup-content{
    max-width: 6000px;
    padding: 500px;
    width: 100%;
    box-sizing: border-box;
    background: #d01818;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-content p{
    margin: 20px 0;
}

.poput-Link {
    text-decoration: none;
    color:#ee2929;
    background: #0502;
    padding: 10px 20px;
    border-radius: 5px;
    display:inline-block;
}

.popup-exit{
position: absolute;
top:-10px;
right:-10px;
text-decoration: none;
color: rgb(99, 27, 27);
padding: 5px 10px;
border-radius:5px;

}

#popup-overlay.open{
    display:block !important;
}
#Yes{
    background-image: url(doigtdhonneur.jpg);
    padding: 1000px;
    display: flex;
    z-index: 1;
    background-size: cover;
    
}


/* fin popup */





.fond {
    z-index: 8;
    width: 1300px;
    height: 550px;
    background-color: #468B97;
    position: relative;
    bottom: 300px;
     border: solid #E8AA42 10px;
     border-radius: 50px;
}
#Poulpe-puree {
    z-index: 9;
    height: 400px ;
    width: 400px;
    position: relative;
    left: 50px;
    top: 200px;
   border-radius: 10%;
   border: #ffcb14 solid 10px;

}

#Description {
   z-index: 9;
    position: relative;
    width: 400px;
    height: 200px;
    left: 700px;
    top: 120px;
    color: white;
    font-size: 30px;

}

#titre{
    z-index: 9;
    position: relative;
    bottom: 210px;
    left: 700px;
    font-size: 50px;
}
